<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.com.photoeditor">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhotoEditor"
        tools:targetApi="31">
        <activity
            android:name=".JpgFileNameActivity"
            android:exported="false" />
        <activity
            android:name=".GeneratePdfActivity"
            android:exported="false" />
        <activity
            android:name=".FileNameActivity"
            android:exported="false" />
        <activity
            android:name=".CompressActivity"
            android:exported="false" />
        <activity
            android:name=".PngToJpgConverterActivity"
            android:exported="false" />
        <activity
            android:name=".PdfConverterActivity"
            android:exported="false" />
        <activity
            android:name=".JpgConverterActvity"
            android:exported="false" />
        <activity
            android:name=".CropToolActivity"
            android:exported="false" />
        <activity
            android:name=".AddTextActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>